<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="AH.DMS.Facade.DMSWS">
                <endpoint address="" binding="basicHttpBinding" contract="AH.DMS.Facade.IDMSWS">
                    <identity>
                        <dns value="IT-Shakela.citygroupbd.com" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://IT-Shakela.citygroupbd.com:8733/Design_Time_Addresses/AH.DMS.Facade/DMSWS/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
